<mat-toolbar class="test">
  <img class="orangedrake" src="../assets/orangedrakeReversed.png" alt="orange drake">
  <span>Guzheng</span>
  <span class="spacer"></span>
  <img class="orangedrake" src="../assets/blackdrakeReversed.png" alt="black drake">  <button mat-button routerLink="add-record">Create post</button>
  <button mat-button routerLink="blog">Blog</button>
  <button mat-button>About me</button>
  <button mat-button>Social media</button>
  <button mat-button>Contact</button>
  <img class="orangedrake" src="../assets/blackdrake.png" alt="black drake">
</mat-toolbar>
