<mat-toolbar class="navigation-bar__wrapper">
  <div class="nagivation-bar__logo">
    <img class="orangedrake" src="../assets/orangedrakeReversed.png" alt="orange drake">
    <span>Guzheng</span>
  </div>
  <div class="navigation-bar__menu">
    <img class="orangedrake" src="../assets/gu.png" alt="gu">
    <button mat-button routerLink="add-record">Create post</button>
    <button mat-button routerLink="blog">Blog</button>
    <button mat-button>About me</button>
    <button mat-button>Social media</button>
    <button mat-button>Contact</button>
    <img class="orangedrake" src="../assets/zheng.png" alt="zheng">
  </div>
</mat-toolbar>
