<div class="post">
  <div class="post_frame post_frame-margin">
    <div class="post_frame_youtube">
      <iframe class="border-radius-top" width="500" height="300" [src]="safeUrl(item.youtubeUrl)" title="Guzheng Music | Sun Shines Over JingGang Mountain 古筝曲目《井冈山上太阳红》" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="post_frame_title frame-margin">
      <span>{{item.title}}</span>
    </div>
    <div class="post_frame_content frame-margin">
      <span>{{item.content}}</span>
    </div>
    <div class="post_frame_footer frame-margin">
      <span>Author: {{item.author}}</span>
      <div class="post_readmoreButton" [hidden]="readmoreButtonHidden">
        <button mat-raised-button color="warn" (click)="readMore(item.id)">read more</button>
     </div>
      <span>Date: {{dateFromTimestamp(item.creationDate)}}</span>
    </div>
  <div class="post_optionalButtons">
    <div class="post_editButton" [hidden]="editButtonHidden">
      <button mat-raised-button color="primary" (click)="editPressed()">Edit</button>
    </div>
    <div class="post_removeButton margin-top10" [hidden]="removeButtonHidden">
      <button mat-raised-button color="warn" (click)="removePressed()">Remove</button>
    </div>
  </div>
</div>


